.info-container {
  margin: 1rem 10rem;
  font-size: 1.5rem;
  color: aqua;
  text-transform: capitalize;
}
.info {
  background-color: rgba(128, 128, 128, 0.584);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.pop {
  position: fixed;
  z-index: 6;
  display: none;
  width: 30%;
  height: 50%;
  font-size: 1.5rem;
}
.pop h2 {
  font-size: 2.5rem;
}
.pop button {
  margin: 2rem 0;
}
.shoot {
  cursor: url("images/cursor.png");
}
body {
  cursor: url("images/cursor.png");
}
